<div class="page-container">
  <div class="top-text">
    <div class="top-message">
      <div class="top-blurb-container">
        <h1 class="top-blurb">Because your patients' smiles</h1>
        <h1 class="top-blurb">are why you do this...</h1>
      </div>
      <div class="top-pitch-container">
        <h2 class="top-pitch"><strong>But you also need an</strong></h2>
        <h2 class="top-pitch"><strong>efficient and effective practice!</strong></h2>
      </div>
    </div>
    <div class="home-image-container">
      <img class="flower blue1" src="../../../../assets/images/stock-photos//flower icons/blue-flower-one.png" />
      <img class="flower yellow1" src="../../../../assets/images/stock-photos//flower icons/yellow-flower-one.png" />
      <img class="flower pink1" src="../../../../assets/images/stock-photos//flower icons/pink-flower-one.png" />
      <img class="flower blue2" src="../../../../assets/images/stock-photos//flower icons/blue-flower-two.png" />
      <img class="flower yellow2" src="../../../../assets/images/stock-photos//flower icons/yellow-flower-two.png" />
      <img class="flower pink2" src="../../../../assets/images/stock-photos//flower icons/pink-flower-two.png" />
      <img class="flower blue3" src="../../../../assets/images/stock-photos//flower icons/blue-flower-three.png" />
      <img class="flower yellow3" src="../../../../assets/images/stock-photos//flower icons/yellow-flower-three.png" />
      <img class="flower pink3" src="../../../../assets/images/stock-photos//flower icons/pink-flower-three.png" />
      <img class="flower blue4" src="../../../../assets/images/stock-photos//flower icons/blue-flower-four.png" />
      <img class="flower yellow4" src="../../../../assets/images/stock-photos//flower icons/yellow-flower-four.png" />
      <img class="flower blue5" src="../../../../assets/images/stock-photos//flower icons/blue-flower-five.png" />
      <img class="flower yellow5" src="../../../../assets/images/stock-photos//flower icons/yellow-flower-five.png" />
      <img class="flower pink5" src="../../../../assets/images/stock-photos//flower icons/pink-flower-five.png" />

      <div class="home-image"></div>
    </div>
  </div>
  <h1 class="offer-message">Dental Office Manager can help! Affordable, fully featured, built with your dental practice in mind!</h1>
</div>