<div class="page-container">
  <h2 class="title">Feature Rich User Management System</h2>
  <div class="features-container">
    <div class="features-column">
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Register and login users</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Forgot password management</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>User profile page</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Angular 15 frontend</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>NodeJs/MongoDB backend</h4>
      </div>  
    </div>
    <div class="features-column">
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>SASS styling built-in</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Angular Material</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Responsive design</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Application architecture</h4>
      </div>
      <div class="feature">
        <mat-icon class="checkmark" aria-hidden="false" aria-label="check mark icon" fontIcon="done"></mat-icon>
        <h4>Application services</h4>
      </div>
    </div>
  </div>
  <!-- These are Angular Material buttons: 
        https://material.angular.io/components/button/overview

       Only one of these buttons will be displayed, depending on
       whether or not the user has signed in.
  -->
  <button 
    *ngIf="!signedIn"
    mat-flat-button 
    color="primary" 
    class="explore" 
    (click)="onSignupSignin()">SIGNIN / SIGNUP AND EXPLORE</button>
  <button 
    *ngIf="signedIn"
    mat-flat-button 
    color="primary" 
    class="explore" 
    (click)="onVisitProfile()">VISIT PROFILE PAGE</button>
</div>